---
interface Props {
	path: string
	centerHtml?: string
	rightHtml?: string
	leftHtml?: string
	size?: 'default' | 'medium' | 'wide'
}

const { path, centerHtml = '', rightHtml = '', leftHtml = '', size = 'default' } = Astro.props
---

<div data-brewfolio-modal-source data-path={path} data-size={size} style="display:none;">
	<div data-brewfolio-modal-left set:html={leftHtml}></div>
	<div data-brewfolio-modal-center set:html={centerHtml}></div>
	<div data-brewfolio-modal-right set:html={rightHtml}></div>
	<div data-brewfolio-modal-body>
		<slot />
	</div>
</div>
